/* colors */

$contrast-blue: #05c2df;
$background-black: #05040b;
$navbar-violet: #191536;
$dark-grey: #2f2f2f;
$text-color: #929292;
$white: #ffffff;

/* gradient */

$gradient-color: linear-gradient(to right, #191536, #000000);
