@import '../../../styles/mixins.scss';

.step-two-purchase-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;

  &__credentials {
    display: flex;
    gap: 30px;
  }
}

@include onDesktop {
  .step-two-purchase-form {
    gap: 40px;
    margin-bottom: 0;

    &__credentials {
      width: 60%;
    }
  }
}
