@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.button {
  min-width: 200px;
  padding: 10px;
  @include typography(500, 16px, 130%);
  color: $white;
  background-color: $contrast-blue;
}
