@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.card-input {
  &__container {
    display: flex;
    gap: 21px;
  }

  &__label {
    color: $contrast-blue;
    @include typography(400, 14px, 18px);
    margin-bottom: 17px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__field {
    background-color: transparent;
    border-bottom: 1px solid $contrast-blue;
    padding-bottom: 9px;
    color: $white;
    text-align: center;
    @include typography(400, 18px, 23px);
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.card-input-error {
  border-color: orangered;
}
