@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.price-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 53px;

  &__title {
    @include typography(400, 16px, 21px);
    padding-left: 5px;
    color: $text-color;
  }

  &__price {
    color: $contrast-blue;
    @include typography(500, 26px, 32px);
  }
}

@include onDesktop {
  .price-bar {
    margin-bottom: 0;

    &__price {
      @include typography(500, 36px, 43px);
    }
  }
}
