@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.header {
  min-height: 100svh;
  background: $gradient-color;
  color: $white;

  &__content {
    padding: 20px;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }

  &__logo {
    height: 100%;
  }

  &__img {
    height: 18px;
  }

  &__main-content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include typography(900, 26px, 34px);
    margin-bottom: 17px;
  }

  &__subtitle {
    @include typography(500, 16px, 24px);
    color: $text-color;
    margin-bottom: 8px;
  }

  &__price {
    text-align: center;
    @include typography(500, 18px, 22px);
    margin-bottom: 20px;
  }

  &__video-play {
    margin-bottom: 32px;
    width: 248px;
    height: 69px;
    align-self: center;
  }

  &__button {
    width: 100%;
    background-color: $contrast-blue;
  }
}

.hero {
  padding-bottom: 50%;
}

@include onTablet {
  .header {
    &__navbar {
      margin-bottom: 55px;
    }

    &__img {
      height: 29px;
    }

    &__subtitle {
      margin-bottom: 14px;
    }

    &__price {
      text-align: left;
    }
  }

  .main-block-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    &__article_image {
      flex: 1 1 60%;
    }

    &__article_content {
      flex: 1 1 40%;
    }
  }
}

@include onDesktop {
  .header {
    &__control-bar {
    }
  }
  .control-bar {
    &__left {
    }

    &__FAQ {
    }

    &__help {
    }

    &__center {
    }

    &__right {
    }

    &__previous {
    }

    &__next {
    }
  }
}
