@import '../../../styles//mixins.scss';
@import '../../../styles//variables.scss';

.control-bar {
  display: none;
}

@include onDesktop {
  .control-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;
      gap: 40px;
    }

    &__right {
      display: flex;
      gap: 103px;
      border-bottom: 1px solid #212121;
    }

    &__previous {
      border-bottom: 1px solid $contrast-blue;
      padding-bottom: 15px;
      cursor: pointer;
      @include typography(500, 16px, 24px);
      color: $text-color;
    }

    &__next {
      cursor: pointer;
      @include typography(500, 16px, 24px);
      color: $white;
    }
  }
}
