@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$select-width: 90px;
$select-height: 41px;
$select-height-desktop: 47px;

.custom-select {
  color: #fff;
  position: relative;

  &__label {
    display: block;
    margin-bottom: 10px;
    @include typography(400, 16px, 21px);
    padding-left: 5px;
    color: $text-color;
  }

  &__display {
    width: $select-width;
    text-align: center;
    height: $select-height;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: $navbar-violet;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    position: relative;
    margin-bottom: 2px;
  }

  &__wrapper {
    position: relative;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__options {
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  &__option {
    background-color: $navbar-violet;
    width: 100%;
    height: $select-height;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $dark-grey;
    }
  }

  &__error {
    color: orangered;
    padding-left: 5px;
  }
}

.formField {
  width: 100%;
  justify-content: flex-start;

  &__padding {
    padding: 0 20px;
  }
}

@include onDesktop {
  .custom-select {
    &__display {
      height: $select-height-desktop;
    }

    &__arrow {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
    }

    &__option {
      height: $select-height-desktop;
    }
  }
}
