@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  &__left {
    display: flex;
    gap: 34px;
  }

  &__navigation-line {
    display: none;
  }

  &__img {
    height: 18px;
  }
}

@include onTablet {
  .header {
    margin-bottom: 90px;

    &__img {
      height: 29px;
    }
  }
}

@include onDesktop {
  .header {
    margin-bottom: 110px;

    &__right {
      display: flex;
    }

    &__navigation-line {
      display: flex;
      align-items: center;
      gap: 36px;
    }

    &__list {
      display: flex;
      gap: 36px;
    }

    &__item {
      white-space: nowrap;
    }

    &__button_nav {
      display: block;
      padding: 14px 10px;
    }
  }
}
