@import '../../../styles/mixins.scss';

.main-purchase {
  display: flex;
  flex-direction: column;

  &__image {
    display: none;
  }

  &__price {
    display: flex;
    gap: 75px;
  }
}

@include onTablet {
  .main-purchase {
    &__image {
      display: block;
    }

    &__content-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__image {
      align-self: center;
    }

    &__quantity-selector {
      display: flex;
      flex-direction: column;
    }

    &__price {
      display: flex;
      gap: 75px;
    }
  }
}

@include onDesktop {
  .main-purchase {
    &__image {
      display: block;
      margin-bottom: 150px;
    }

    &__content-wrapper {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    &__quantity-selector {
      flex: 1 1 50%;
      align-items: center;
      margin-left: -16px;
    }

    &__price {
      display: flex;
      align-self: flex-start;
      gap: 86px;
      margin-top: auto;
    }
  }
}
