@import '../../styles//mixins.scss';

.form-purchase {
  &__credentials {
    display: flex;
    gap: 30px;
  }

  &__button {
    width: 100%;
  }
}

@include onTablet {
  .form-purchase {
    flex: 1 1 50%;

    &__button {
      width: 458px;
      align-self: center;
    }

    &__content {
      display: flex;
      flex-direction: column;
    }
  }
}

@include onTablet {
  .form-purchase {
    &__button {
      width: 200px;
      align-self: flex-start;
    }
  }
}
