.form-purchase {
  &__price {
    display: flex;
    justify-content: center;
    gap: 75px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__credentials {
    display: flex;
    gap: 30px;
  }

  &__button {
    width: 100%;
  }
}
