@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.purchase {
  min-height: 100svh;
  background: $gradient-color;
  color: $white;

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

@include onTablet {
  .purchase {
    &__content {
      padding: 30px 34px;
    }
  }
}

@include onDesktop {
  .purchase {
    &__content {
      padding: 64px 110px;
    }
  }
}
