@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.modal {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  &__content {
    background-color: $navbar-violet;
    min-height: 100vh;
    padding: 68px 20px;
  }
}

.active-modal {
  &__contnet {
  }
}
