@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.faq {
  &__title {
    margin-bottom: 30px;
    @include typography(900, 21px, 27px);
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.tab-faq {
  border: 1px solid $contrast-blue;

  &__content {
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    @include typography(400, 16px, 24px);
    color: $contrast-blue;
  }

  &__text {
    @include typography(400, 16px, 24px);
    color: $text-color;
  }

  &__date {
    @include typography(400, 12px, 18px);
    color: #545454;
  }
}
