@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.navigation-bars {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
  margin-bottom: 90px;
}

.desktop-navigation-bars {
  display: none;
}

.desktop-active-step {
  color: $contrast-blue;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $contrast-blue;
    transform: translateX(-50%);
  }
}

@include onTablet {
  .navigation-bars {
    margin-bottom: 75px;
  }
}

@include onDesktop {
  .navigation-bars {
    display: none;
  }

  .desktop-navigation-bars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;

    &__step {
      color: #545454;
      @include typography(500, 14px, 18px);
    }
  }

  .desktop-active-step {
    color: $contrast-blue;
  }
}
